#root {
  margin: 0 auto;
  text-align: center;
}

.container {
  text-align: center;
  margin: 0 auto;
}
h1 {
  color: dodgerblue;
}
.btn {
  background-color: #874fc3;
  color: white;
  margin: 30px;
  padding: 10px 30px;
}
.inputs {
  line-height: 34px;
  margin: 30px;
  border: 2px solid green;
  border-radius: 5px;
  text-align: center;
}
